<div class="comment-form">
  <h2>Leave a Comment</h2>
  <form [formGroup]="commentForm" (ngSubmit)="submit()">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" formControlName="name" />
      <div
        *ngIf="
          commentForm.controls['name'].errors &&
          commentForm.controls['name'].dirty
        "
        style="color: red"
      >
        <p *ngIf="commentForm.controls['name'].errors['required']">
          name is required
        </p>
      </div>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" formControlName="email" />
      <div
        *ngIf="
          commentForm.controls['email'].errors &&
          commentForm.controls['email'].dirty
        "
        style="color: red"
      >
        <p *ngIf="commentForm.controls['email'].errors['required']">
          email is required
        </p>
        <p *ngIf="commentForm.controls['email'].errors['email']">
          email is not valid
        </p>
      </div>
    </div>
    <div>
      <label for="comment">Comment:</label>
      <textarea
        id="comment"
        name="comment"
        formControlName="comment"
      ></textarea>
      <div
        *ngIf="
          commentForm.controls['comment'].errors &&
          commentForm.controls['comment'].dirty
        "
        style="color: red"
      >
        <p *ngIf="commentForm.controls['comment'].errors['required']">
          comment is required
        </p>

        <p *ngIf="commentForm.controls['comment'].errors['max']">
          comment must not contain more than 100 characters
        </p>

        <p *ngIf="commentForm.controls['comment'].errors['min']">
          comment must contain at least 2 characters
        </p>
      </div>
    </div>
    <button
      *ngIf="!commentForm.valid"
      type="submit"
      disabled
      style="opacity: 0.4"
    >
      Post Comment
    </button>

    <button *ngIf="commentForm.valid" type="submit">Post Comment</button>
  </form>
</div>
