<nav style="display: flex; width: 100%; justify-content: center">
  <div style="display: flex; justify-content: space-between; width: 30%">
    <a style="text-decoration: none" routerLink="about">About</a>
    <a style="text-decoration: none" routerLink="projects">Projects</a>
    <a style="text-decoration: none" routerLink="news">News</a>
  </div>
</nav>
