<div class="article">
  <div class="hero-image">
    <img src="assets/about-hero.png" alt="Article Hero Image" />
  </div>
  <div class="article-content">
    <h1>{{ article.title }}</h1>
    <div class="article-body" [innerHTML]="article.body"></div>
  </div>
</div>
