.article {
    background-color: #fff;
    padding: 20px;
  }
  
.hero-image img {
width: 100%;
height: auto;
margin-bottom: 20px;
}

.article-content {
color: #333;
}

.article-content h1 {
font-size: 24px;
font-weight: bold;
margin-bottom: 10px;
}

.article-body {
font-size: 16px;
line-height: 1.5;
}