/* healthy-food.component.css */
.healthy-food {
    font-family: Arial, sans-serif;
    width: 80%;
    margin: auto;
    padding: 40px;
}
  
.hero-image {
width: 100%;
height: auto;
}

.hero-title {
color: black;
font-size: 32px;
font-weight: bold;
}

.hero-description {
top: 80px;
left: 20px;
color: black;
font-size: 18px;
max-width: 70%;
}

.content-section {
margin-top: 80px;
}

.section-title {
font-size: 24px;
font-weight: bold;
margin-bottom: 20px;
}

.project-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
grid-gap: 20px;
}

.project-card {
text-align: center;
}

.project-image {
width: 100%;
height: auto;
border-radius: 4px;
margin-bottom: 10px;
}

.project-title {
font-size: 18px;
font-weight: bold;
}