<div class="healthy-food">
  <img src="assets/projects-main.png" alt="Healthy Food" class="hero-image" />
  <h1 class="hero-title">Healthy Food</h1>
  <p class="hero-description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna a
    bibendum bibendum, augue magna tincidunt enim, eget ultricies magna augue
    eget est.
  </p>
  <br />
  <h2 style="max-width: 70%">
    Biophilia is the idea that humans possess an innate tendency to seek
    connections with nature.The term translates
  </h2>
  <p class="hero-description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna a
    bibendum bibendum, augue magna tincidunt enim, eget ultricies magna augue
    eget est. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
    auctor, magna a bibendum bibendum, augue magna tincidunt enim, eget
    ultricies magna augue eget est. Lorem ipsum dolor sit amet, consectetur
    adipiscing elit. Sed auctor, magna a bibendum bibendum, augue magna
    tincidunt enim, eget ultricies magna augue eget est.
  </p>

  <div class="content-section">
    <h2 class="section-title">Similar Projects</h2>
    <div class="project-grid">
      <div class="project-card" *ngFor="let project of projects">
        <img
          [src]="project.image"
          [alt]="project.title"
          class="project-image"
        />
        <h3 class="project-title">{{ project.title }}</h3>
      </div>
    </div>
  </div>
</div>
