.latest-posts {
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
}
  
.latest-posts h2 {
font-size: 20px;
font-weight: bold;
margin-bottom: 10px;
color: #333;
}

.latest-posts ul {
list-style-type: none;
padding: 0;
margin: 0;
}

.latest-posts li {
margin-bottom: 10px;
color: #666;
}