<div class="article-page">
  <app-article [article]="article"></app-article>
  <div class="sidebar">
    <app-latest-posts
      [latestPosts]="postsService.latestPosts"
    ></app-latest-posts>
    <app-categories [categories]="categories"></app-categories>
    <app-tags [tags]="tags"></app-tags>
  </div>
  <app-comment-form></app-comment-form>
  <!-- <app-comment-form></app-comment-form> -->
</div>
