/* categories.component.css */
.categories {
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
}
  
.categories h2 {
font-size: 20px;
font-weight: bold;
margin-bottom: 10px;
color: #333;
}

.categories ul {
list-style-type: none;
padding: 0;
margin: 0;
}

.categories li {
margin-bottom: 10px;
color: #666;
}