<div
  style="
    display: flex;
    justify-content: center;
    width: 100%;
    scale: 0.7;
    padding: 5px;
  "
>
  <img src="assets/agriculture-logo.png" alt="Agriculture" />
</div>
<br />
<app-navbar></app-navbar>
<router-outlet />
