/* article-list.component.css */
.article-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .article-card {
    background-color: #f5f5f5;
    border-radius: 4px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .article-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .article-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .article-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .article-meta {
    font-size: 12px;
    color: #999;
  }
  
  .article-date,
  .article-author,
  .article-comments {
    margin-right: 10px;
  }