<div class="article-list" style="padding: 40px">
  <div class="article-card" *ngFor="let article of articles">
    <img [src]="article.image" alt="Article Image" class="article-image" />
    <div class="article-details">
      <h3 class="article-title">{{ article.title }}</h3>
      <p class="article-description">{{ article.description }}</p>
      <div class="article-meta">
        <span class="article-date">{{ article.date }}</span>
        <span class="article-author">By {{ article.author }}</span>
        <span class="article-comments">{{ article.comments }} Comments</span>
      </div>
    </div>
  </div>
</div>
