/* tags.component.css */
.tags {
    background-color: #f2f2f2;
    padding: 20px;
}
  
.tags h2 {
font-size: 20px;
font-weight: bold;
margin-bottom: 10px;
color: #333;
}

.tags ul {
list-style-type: none;
padding: 0;
margin: 0;
}

.tags li {
display: inline-block;
background-color: #fff;
color: #666;
padding: 5px 10px;
margin-right: 10px;
margin-bottom: 10px;
border-radius: 4px;
}